<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  {% include mathjax.html %}

  <body>

    {% include header.html %}
    {% include mathjax.html %}

    <main class="landing-content" id="contact-content" aria-label="Content">
      <div class="wrapper">
        <div class="contact">

          {{ content }}
          {% include contact-icons.html %}

        </div>
      </div>
    </main>

    {% include footer.html %}


  </body>

</html>
